@font-face {
    font-family: playfair;
    src: url(./fonts/playfair.ttf);
}

$primaryAccent: #3E8847;
$secondaryAccent: #FCFBF8;

// global classes
.primary-font {
    color: $primaryAccent;
}

.font-dark {
    color: #09270d;
}

.playfair {
    font-family: "playfair", serif;
}

.text-neutral {
    color: #727272;
}

.secondary-background {
    background-color: $secondaryAccent;
}

.text-tertiary {
    color: #B0BAA3;
}

.font-10 {
    font-size: 0.6rem;
}

.search-icon {
    translate: -100%;
}

.font-16 {
    font-size: 0.8rem;
}

.text-title {
    color: #D0D6c9;
}

.shade-primary {
    box-shadow: 0px 20px 27px 0px rgba($color: #021605, $alpha: 0.17);
}

.shade-secondary {
    box-shadow: 0 34px 50px -28px rgba($color: #021605, $alpha: 0.1);
}

.shade-tertiary {
    box-shadow: 0px 3px 13px 0px rgba($color: #000000, $alpha: 0.12);
}



.hero {
    height: 100vh;
    padding-top: 50px;
}

.heroTitle {
    margin-top: 100px;
    flex-grow: 2;
    flex-shrink: 0;
}

.carouselContainer {
    flex-grow: 5;
    flex-shrink: 0;
    // height: 80%;
    position: relative;

    .animateCarousel{
    }
    
    .item {
        width: 100%;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        height: 50%;

        &:nth-child(1),
        &:nth-child(2) {
            min-width: 280px;
            max-width: 700px;
            min-height: 400px;
            border-radius: 1rem;
            position: absolute;
            top: 50%;
            translate: 0% -50%;
        }

        &:nth-child(2) {
            z-index: 999;
        }

        &:nth-child(n+3) {

            max-width: 280px;
            height: 60%;
            min-height: 500px;
            margin-right: -50px;
            border-radius: 1rem;
            aspect-ratio: 4/3;
            position: absolute;
            top: 50%;
            right: 0px;
            translate: 0% -50%;
        }

        &:last-child(n+3){
            z-index: 998;
        }
    }

    .carousel-buttons {
        bottom: -150px;
        left: 0;

        .nextButton,
        .backButton {
            padding: 10px;

            img {
                width: 10px;
                height: 10px;
            }
        }

        .custom-progress {
            height: 4px;
            width: 5rem;
        }
    }
}



.collectionsCarouselContainer {
    width: 99%;

    div {
        transition: transform 0.2s ease;
    }

    .item {
        width: 33%;
        min-width: 280px;
        height: 100%;
        flex-shrink: 0;

    }
}

.carouselControls {
    width: 100%;
    flex-shrink: 0;

    img {
        width: 40px;
        height: 40px;
    }
}

.hero-img {
    max-width: 300px;
}

.hero-text {
    max-width: 300px;
}

.custom-card {
    width: 80%;
}

.hover-card {
    .imgDiv {
        border-radius: 50%;
        width: fit-content;
        padding: 10px;
        background-color: $primaryAccent;

        img {
            filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(157deg) brightness(102%) contrast(101%);
            ;
            height: 40px;
            width: 40px;
        }
    }


    &:hover {
        background-color: $primaryAccent;
        color: white;

        .text-neutral {
            color: white;
        }

        .primary-font {
            color: white;
        }

        .font-dark {
            color: white;
        }

        .imgDiv {
            background-color: white;

            img {
                filter: invert(46%) sepia(8%) saturate(2978%) hue-rotate(76deg) brightness(96%) contrast(85%);
            }
        }

    }
}

@media screen and (min-width:572px) {
    .carouselContainer .carousel-buttons {
        bottom: -100px;
        left: unset;
        right: 300px;
    }
}


@media screen and (min-width:768px) {

    .hero {
        height: 80vh;
    }

    .heroTitle {
        max-width: 300px;
        z-index: 99999;

    }

    .carouselContainer {

        .item:nth-child(1),
        .item:nth-child(2) {
            right: 50px;
        }

        .carousel-buttons {
            bottom: -250px;
            left: unset;
            right: 300px;
        }
    }

    .carouselControls {
        // width: 80px;
        width: fit-content;
    }
}